    <footer>
        <p>&copy; Borg &amp; Boldt, Inc. All rights reserved.</p>
        <% if (session.user) { %>
            <p><a href="/logout">Logout <%= session.user.name %></a></p>
        <% } %>
    </footer>
</div>
</body>
</html>
