@import "prettyform.css";
@import "manage-parts.css";
@import "select.css";
@import url('https://fonts.googleapis.com/css?family=Black+Ops+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
}

h1 {
    margin-bottom:1em;
}

.frontimg {
    height: 500px;
    margin-left: 150px;
}

.fronttext {
    font-family: 'Black Ops One', cursive;
    font-size: 52px;
}

.red {
    color: red;
}

.center {
    margin: 0 auto;
}

.main-nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style-type: none;
    border-bottom: 1px solid darkgreen;
    padding-bottom: 1em;
}

.main-nav a {
    text-decoration: none;
}

.container {
    width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}


.header {
    margin: 0 auto;
}

footer {
    text-align: center;
    margin-top: 30px;
}

.main {
    min-height: 600px;
    margin-top: 20px;
}

.flash {
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
    color: #059;
    background-color: #BEF;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.left-border {
    border-left: 0.5px solid grey;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-image: linear-gradient(top, #f1f3f3, #d4dae0);
  border-radius: 6px 6px 0 0;
  box-sizing: border-box;
  height: 43px;
  font: 600 14px/1 'Open Sans', sans-serif;
  padding-top: 14px;
  margin: 0;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.2), 0 1px 0 #fff;
  color: black;
}
