* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
}

h1 {
    margin-bottom:1em;
}

.main-nav::before {
    /*content: "Use the links ->";*/
}

.main-nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style-type: none;
    border-bottom: 1px solid darkgreen;
    padding-bottom: 1em;
}

.main-nav a {
    text-decoration: none;
}

.container {
    width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}


.header {
    margin: 0 auto;
}

footer {
    text-align: center;
}

.main {
    min-height: 600px;
    margin-top: 20px;
}

input[type=text], input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button, input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover, input[type=submit]:hover {
  background-color: #45a049;
}

.flash {
    text-align: center;
    background-color: orange;
    height: 50px;
    padding: 1em;
}

.red {
    background-color: red;
}
