<% include ../partials/header %>
<div class="main">
    <% if (session.flash) { %>
        <div class="flash">
            <%= session.flash %>
        </div>
        <% session.flash = null; %>
    <% } %>
    <h1>Manage accounts</h1>
    <% if (session.user) { %>
        <% if (session.user === "admin") { %>
            <form action="/admin-manage">
            <select onchange="this.form.submit()" name="manage_user" id="admin_select">
                <% usernames.forEach(function(user) { %>
                    <option <%= user.id == session.manage_user ? "selected" : "" %> value="<%= user.id%>"><%= user.name %></option>
                <% }) %>
            </select>

            <% if (session.manage_user) { %>
                <% include ../partials/user-table %>
            <% } %>
        <% } else { %>
            <% include ../partials/user-table %>
        <% } %>
    <% } else { %>
        <div class="flash">You are not logged in.</div>
    <% } %>
</div>
<% include ../partials/footer %>
