<% include ../partials/header %>
<div class="main center">
    <img src="/img/us.jpg" class="frontimg" alt="moneybags">
    <h1 class="fronttext">WE WANT <span class="red">YOU</span> TO DEPOSIT!</h1>
</div>
<% include ../partials/footer %>
