<% include ../partials/header %>
<div class="main">
    <h1>Borg &amp; Boldts very secure banking application.</h1>
    <p>Do you have any money you do not want to loose?</p>
    <p>If the answer is YES, then create an account and give us your money.</p>
</div>
<% include ../partials/footer %>
