<% include ../partials/header %>
<script>
let allUsers = [];
function getAll() {
    fetch("/get-all")
    .then((response) => {
        return response.text();
    }).then((json) => {
        let parsed = JSON.parse(json);
        let username = document.getElementById("username").value;
        let password = document.getElementById("password").value;
        let valid = false;
        for (item in parsed) {
            if (parsed[item].name === username && parsed[item].pass === password) {
                valid = true;
            }
        }
        if (valid) {
            window.location.replace("/login-success?user=" + username);
        } else {
            window.location.replace("/login-error");
        }
    })
}

</script>

<div class="main">
    <% if (session.user || session.flash) { %>
        <div class="flash">
            <%= session.flash %>
        </div>
        <% session.flash = null; %>
    <% } else { %>
        <% include ../partials/forms/login-form %>
        <!-- <form id="userForm">
            <label for="username">Username:</label><input type="text" name="username" id="username">
            <label for="password">Password:</label><input type="password" name="password" id="password">
            <button type="button" onclick="getAll(false)" name="trylogin">Login</button>
        </form>
        <div><a href="/signup">Create account</a></div> -->
    <% } %>
</div>
<% include ../partials/footer %>
