<% include ../partials/header %>
<div class="main">
    <% if (session.flash) { %>
        <div class="flash">
            <%= session.flash %>
        </div>
        <% session.flash = null; %>
    <% } %>

    <% include ../partials/forms/transfer-form %>
</div>
<% include ../partials/footer %>
