<% include ../partials/header %>
<div class="main">
    <% if (session.flash) { %>
        <div class="flash">
            <%= session.flash %>
        </div>
        <% session.flash = null; %>
    <% } %>
    <% if (session.user) { %>
        <% include ../partials/user-table %>
    <% } else { %>
        <div class="flash">You are not logged in.</div>
    <% } %>
</div>
<% include ../partials/footer %>
