<form class="manage-part" action="/manage/account/delete">
    <table class="manage_user">
    <h1>Delete account</h1>
    <tr>
        <td><select name="del_account">
            <% session.accounts.forEach(function(item) { %>
                <option value="<%= item.id %>"><%= item.acc_name %></option>
            <% }) %>
        </select>
    <input type="submit" value="Delete account" name="delete"></td>
    </tr>
    </table>
</form>
