<form class="pretty" id="userForm">
    <h1>Login</h1>
    <input type="text" name="username" id="username" placeholder="Username" required>
    <input type="password" name="password" id="password" placeholder="password" required>
    <a href="/signup" class="signup">Create account</a>
    <button type="button" onclick="getAll(false)" name="trylogin">Login</button>
</form>

<div class="shadow"></div>
